/////body{
    background-color:rgb(231, 238, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container{
    background-color:rgb(254, 255, 255) ;
    padding: 30px;
    width: 356px;
    border-radius: 10px;
}
h1{
    text-align: center;

}
input{
    width: 95%;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}
.log-in{
    width: 98%;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(40, 40, 185);
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

}
p{
    text-align: center;
}
h2{
   text-align: center;
}
.create-btn{
    text-align: center;
}
.create-btn button{
    width: 60%;
    background-color: rgb(44, 144, 44);
    padding: 7px;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

    

}
